*{
    
}

body {
    margin: 0;
}

nav{
    background-color: rgb(95, 29, 182);
}

#name {
    font-family: "Modak", cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 78px;
    margin-top: 40vh;
}
